.main__images{
    width:90%;
    z-index: -100;
    opacity: 1.2;
    min-height: 100%;
}

.mainimages__container{
    position: relative;
    align-items: center ;
    justify-content: center !important;
    text-align:center;
    height: 50vw;
    margin: 20px;
    overflow: hidden;
}

.mainimages__container > div{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vw;
    margin-bottom: 10px;
}

.messages__home{
    object-fit: contain;
    width: 80%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.504);
    font-size: 30px;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 800px){

    .mainimages__container{
        margin: 20px;
        height: 40vw;
    }

    .mainimages__container > div{
        height: 40vw;
    }

    .messages__home{
        font-size: 3vw;
    }
  }

  @media screen and (max-width: 481px){

    .main__images{
        width: 100%;
    }

    .messages__home{
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 0px;
        padding: 2px 2px;
    }

    .mainimages__container > div{
        margin-bottom: 0px;
    }
  }